@model InventorySystem.Application.Features.Warehouses.Queries.ViewModels.WarehouseViewModel

@{
    ViewData["Title"] = "Details";
    int index = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title ">تفاصيل المخزن</h3>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="card-body">
                <div class="p-4  border rounded">
                    <input type="hidden" asp-for="Id" />

                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Name"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Name" disabled class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Location"></label>
                            </div>
                            <div class="col-6">
                                <input asp-for="Location" disabled class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-3 text-right">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-6">
                                <textarea asp-for="Description" rows="3" disabled class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-1">

                    </div>

                    <div class="col-3">

                    </div>

                    <br />

                    <div class="card col-12">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="card-title ">المواد داخل المخزن</h3>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>@Html.DisplayNameFor(m => m.WarehouseProducts.FirstOrDefault().Product.Name)</th>
                                        <th>@Html.DisplayNameFor(m => m.WarehouseProducts.FirstOrDefault().Count)</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.WarehouseProducts)
                                    {
                                        <tr>
                                            <td>@(++index)</td>
                                            <td>@Html.DisplayFor(m => item.Product.Name)</td>
                                            <td>@Html.DisplayFor(m => item.Count)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <hr />

                    <div class="form-group text-left">
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">تعديل</a>
                        <a asp-action="Index" class="btn btn-default">العوده الى القائمة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
